.emoji-container {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
  }
  
  .jumping {
    animation: jumpAnimation 1s ease-in-out;
  }
  
  @keyframes jumpAnimation {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-70px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .jump-count {
    top: 2rem;
    left: 0;
    font-size: 1rem;
    color: #555;
  }
  